{% extends 'base.html' %}
{% set title = 'New Advisor'%}
{% block content %}

<h3 style="color:{{color}};">{{message}}</h3>
<form action="/addadvisors" method="post">
  <div class="mb-3">
    <label for="id" class="form-label">Student Id</label>
    <select class="form-select" name="s_ID">
      {% for student in studentsList%}
        <option value="{{student.id}}">{{student.id}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="mb-3">
    <label for="id" class="form-label">Instructor Id</label>
    <select class="form-select" name="s_ID">
      {% for instructor in instructorsList%}
        <option value="{{instructor.id}}">{{instructor.id}}</option>
      {% endfor %}
    </select>
  </div>

  c
  <button class="btn btn-primary"><a href="/students">Back</a></button>
</form>

{% endblock %}
