{% extends 'base.html' %}
{% set title = 'Advisors'%}
{% block content %}

      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <form class="row g-3">
          <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden">Password</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-secondary mb-3">Confirm identity</button>
            <button type="button" class="btn btn-success mb-3">
              <a href="/add-advisors">Add Advisors</a>
              </button>
          </div>
        </form>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Student Id</th>
            <th scope="col">Instructor Id</th>
          </tr>
        </thead>
        <tbody>
          {% for advisor in dataList %}
            <tr>
              <th scope="row">{{advisor.s_ID}}</th>
              <td>{{advisor.i_ID}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

{% endblock %}
