{% extends 'base.html' %}
{% set title = 'Classrooms'%}
{% block content %}

      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <form class="row g-3">
          <div class="col-auto">
            <button type="button" class="btn btn-success mb-3">
              <a href="/add-classrooms">Add Classroom</a>
              </button>
          </div>
        </form>

      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Building</th>
            <th scope="col">Room Number</th>
            <th scope="col">Capacity</th>
          </tr>
        </thead>
        <tbody>
          {% for classroom in dataList %}
            <tr>
              <th scope="row">{{classroom.building}}</th>
              <td>{{classroom.room_number}}</td>
              <td>{{classroom.capacity}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>



{% endblock %}
